.banner{
    background-color: #264653;
}
.honda-btn{
    padding: 8px 25px;
    background-color: #E76F51;
    text-decoration: none;
    border-radius: 2px;
}
.honda-btn a{
    text-decoration: none;
    color: #fff;
}
.happy-clients img{
    height: 149px;
    width: 149px;
    border-radius: 50%;
}
.rating{
    color: #E77C40;
}
.client-name{
    color: red;
}
.text-color{
    color: #E76F51;
}
.gray-image img {
    filter: grayscale(100%);
  }
